@using getsetcode.Web.Extensions.HelperExtensions
@using getsetcode.Presentation.MvcHelpers
@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>@ViewBag.Title</title>
        <link rel="icon" type="image/png" href="@Url.Content("~/favicon.png")" />
        <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/favicon.ico")" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="getsetcode is C#.NET web developer Tom Troughton" />
        <meta name="author" content="Tom Troughton" />
        <!--[if lt IE 9]>  
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]--> 
        @Styles.Render("~/Content/css/bundle")
        <link rel="Stylesheet" type="text/css" href="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.css" />
    </head>
    <body>
    
        <div class="container">

            <span class="hidden" id="button-loading-src">@Url.ButtonLoadingGif()</span>
            
            @RenderSection("header", required: true)

            <div id="page">
            
            @RenderSection("message", required: false)
            @RenderBody()

            </div>
                
            @Html.SiteFooter()
            
            @Html.Modal()

        </div>
        
        @Scripts.Render("~/Scripts/bundle")
        <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.js"></script>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-36510883-1']);
            _gaq.push(['_trackPageview']);
            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>