@using getsetcode.Web.Extensions.HelperExtensions
@using getsetcode.Presentation.MvcHelpers
@using getsetcode.Presentation
@using getsetcode.Presentation.Presentables
@model IHistoryItemPresentable
@if (Model.Project != null)
{
                            <div class="post">
                                
                                <h4>@Model.DisplayDate: Tom added @Html.DetailLink(Model.Project) to his projects portfolio</h4>

                                <div class="post-content">
                                
                                    @Html.DatabaseImage(Model.Project.ThumbnailImage, "visual")
                                    <div class="push-right">
                                        @Html.Raw(Model.Project.BriefSummary)
                                    </div>
                                    <ul class="push-right history-skills">
                                    @foreach (var s in Model.Project.FeaturedSkills)
                                    {
                                        <li>@Html.DetailLink(s, tip: TipType.Over)</li>
                                    }   
                                    </ul>

                                </div>

                            </div>
}